<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>


	<connectionStrings>
		<add
       name="LabMonografiaV2"
       connectionString="server=IPAYAN\SQLSERVER; database=LabMonografiaV2 ; Trusted_Connection=True; MultipleActiveResultSets=true"
       providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>